{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_links %}
<li><a href="/logout">Log out</a></li>
{% endblock %}

{% block main %}
<h1>Welcome {{ users_name }}</h1>

<h2>Your wishlist:</h2>

{% if items_len == 0 %}
<p>Your wishlist is empty.</p>
{% else %}
<table>
  {% for item in items %}
  <tr>
    <td>
      {% if item.thumbnail.name != "" %}<img src="{{ MEDIA_URL }}{{ item.thumbnail.name }}" />
      {% else %}<img src="{% static 'pin.png' %}" />{% endif %}
    </td>
    <td>
      <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
      <p>{{ item.note }}</p>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

</p>
{% endblock %}
