{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_links %}
<li><a href="/logout">Log out</a></li>
{% endblock %}

{% block main %}
<h1>Welcome {{ users_name }}</h1>

<h2>Your wishlist:</h2>
<h3 class="text-right"><a href="/new_item">Add item</a></h3>
{% if items_len == 0 %}
<p>Your wishlist is empty.</p>
{% else %}
<table class="table table-striped">
  {% for item in items %}
  <tr>
    <td style="width: 128px">
      {% if item.thumbnail.name != "" %}<img src="{{ MEDIA_URL }}{{ item.thumbnail.name }}" />
      {% else %}<img src="{% static 'pin.png' %}" />{% endif %}
    </td>
    <td>
      <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
      <p>{{ item.note }}</p>
    </td>
    <td style="vertical-align: middle; width: 120px">
      <a href="/decrease_item_count"><span class="glyphicon glyphicon-minus"></span></a>
      <span style="padding: 0px 15px;">{{ item.number_wished_for }}</span>
      <a href="/increase_item_count"><span class="glyphicon glyphicon-plus"></span></a>
    </td>
    <td style="vertical-align: middle; width: 14px">
      <a href="/delete_item"><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

</p>
{% endblock %}
